{% extends 'base.html' %}

{% block content %}

<h2>Exit Vehicle</h2>

<form method="POST" class="card p-4">

    <input type="text" name="plate" placeholder="Plate Number" class="form-control mb-2" required>

    <button class="btn btn-danger">Calculate Fee</button>

</form>

{% if fee %}
<div class="text-center mt-3">
    <h4>💰 Fee: ₹{{ fee }}</h4>

    <p>Scan QR to Pay</p>
    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=PAY{{ fee }}" />

    <br><br>
    <button class="btn btn-success">Payment Done</button>
</div>
{% endif %}

{% if fee %}
<div class="alert alert-success text-center mt-3">
    💰 Parking Fee: ₹{{ fee }}
</div>
<p class="text-center text-muted">Redirecting to home...</p>

<script>
    setTimeout(() => {
        window.location.href = "/";
    }, 3000); // ⏳ 3 seconds delay
</script>
{% endif %}

{% endblock %}