{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mb-4">🗺️ Smart Parking Map</h2>

<div class="container">
    <div class="row justify-content-center">

        {% for i in range(1,21) %}
        <div class="col-3 col-md-2 m-2">

            {% if i in occupied %}
            <div class="card text-center shadow border-0 bg-danger text-white slot-card">
                <div class="card-body">
                    <h5>🚗</h5>
                    <strong>Slot {{ i }}</strong><br>
                    Occupied
                </div>
            </div>
            {% else %}
            <div class="card text-center shadow border-0 bg-success text-white slot-card">
                <div class="card-body">
                    <h5>🅿️</h5>
                    <strong>Slot {{ i }}</strong><br>
                    Free
                </div>
            </div>
            {% endif %}

        </div>
        {% endfor %}

    </div>
</div>

<style>
.slot-card {
    border-radius: 15px;
    transition: 0.3s;
}
.slot-card:hover {
    transform: scale(1.08);
    cursor: pointer;
}
</style>
<script>
setTimeout(() => {
    location.reload();
}, 2000);
</script>

{% endblock %}